@font-face {
    font-family: "OpenSans_a";
    src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format('truetype');
    font-display: swap;
    font-weight: 300 800;
}

*{
    font-family: "OpenSans_a", sans-serif;
}

:root{
    --blue-main-color: 0, 119, 182;
    --white-bg-color: #fafaff;
    --h1-color: #1c1B1d ;
    --body-text-color: #1c1B1d;
}

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--white-bg-color);   
}

header{
    padding: 12px 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    box-shadow: 0 1px 6px 0px #727272;
    display: flex;
    align-items: center;
    justify-content: center;
}


header nav figure{
    display: inline;
}

header nav a{
    display: inline-flex;
    align-items: center;
    line-height: 44px;
    padding: 0px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--body-text-color);
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 200px;
    gap: 8px;
    vertical-align: middle;
}

header nav a:hover{
    background-color: rgba(28, 27, 29, 0.08);
    font-weight: 600;
    transition: 0.1s;
}
.focused{
    background-color: rgba(var(--blue-main-color), 0.08);
}

main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

main h1 {
    color: var(--h1-color);
}



